/* Welcome.css */
.welcome-page {
    min-height: 200vh; /* Ensures there's enough height to scroll */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    transition: opacity 0.5s ease-out;
  }

  /* .arrow {
    font-family: "DM Sans";
  } */

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  .welcome-text {
    padding-top: 25%;
    font-size: 70px;
  }

  .arrow {
    padding-top: 2%;
    font-size: 48px;
  }

  .logo {
    padding-bottom: 10%;
  }

  /* Three Dots Animation */
  /* Define a class for the loading dots */
.loading-dots {
  margin-bottom: 150px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 180px; /* Adjust as needed, originally 340px */
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Define styles for each dot */
  .loading-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000; /* Adjust color as needed */
    margin: 0 5px; /* Adjust spacing between dots */
  }
  
  /* Define keyframes animation for fading effect */
  @keyframes fadeDots {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
  }
  
  /* Apply animation to the loading dots */
  .loading-dot {
    animation: fadeDots 1.5s infinite; /* Adjust duration as needed */
  }

  /* login CSS */
  .login-section {
    margin-top: 200px;
    margin-bottom: 370px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-logo {
    width: 50%;
    height: 50%;
  }
  .login-header {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  }
  .login-instructions {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-top: 50px;
  color: #878787;
  }
  .google-login-logo {
  width: 80px;
  height: 80px;
  }
