*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    margin: 0;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;    
}

.container .ql-container.ql-snow {
    border: none; 
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:  #f3f3f3;
    border: none;
}

@media print {
    body {
        background: none;
    }

    .container .ql-editor {
        width: 6.5in;
        height: 9in; 
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .container > .ql-toolbar.ql-snow {
        display: none;
    }
}
.editor-moved {
    transform: translateX(-300px); /* Adjust the value based on how much you want to move it */
  }

  /* WAWA */
  /* for scrolling */
  .scroll-container {
    max-height: 170px; /* Adjust based on your needs */
    overflow-y: auto; /* Enables vertical scrolling if content exceeds max-height */
    padding: 10px; /* Optional, for padding inside the container */
  }

.inconsistency-popout {
    position: absolute;
    z-index: 500;
    width: 260px;
    height: 180px;
    left: 1250px;
    top: 80px;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.inconsistency-button {
    position: absolute;
    font-family: 'DM Sans';
    background-color: #EDEDED;
    border-radius: 20px;
    border:none;
    top: 5%;
    left: 5%; /* Adjust this value to move the button more to the left */
}

.save-button {
    border:none;
    position: fixed;
    z-index: 9998;
    top: 9px; 
    right: 45px;
}

.inconsistency-popup {
    position: absolute;
    width: 550px;
    height: 150px;
    left: 875px;
    top: 100px;
    background: #F7F7F7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inconsistency-none-popup {
    position: absolute;
    width: 550px;
    height: 100px;
    left: 875px;
    top: 100px;
    background: #F7F7F7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.no-character-found-text {
    font-family: 'DM Sans';
    margin-left: 50px;
    color: grey;
}

/* INCONSISTENCY STYLING */
.inconsistency-popup-text {
    font-family: 'DM Sans';
    font-size: 30%;
}

/* WAWA */
.inconsistency-header {
    font-size: 18px;
    padding-left: 8%;
}

.inconsistency-none-header {
    font-size: 13px;
    padding-left: 5%;
}

.caption-small {
    max-width: 200px;
    font-size: 12px;
}

/* .inconsistency-name-small {
    max-width: 500px;
    padding-top: 8px;
    padding-left: 3px;
} */

.info-button {
    position: fixed;
    z-index: 9998;
    top: 10.5px; 
    right: 80px;
}
.popup-rounded-rectangle {
    position: fixed;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background-color: #FFFF; 
    border-style: solid;
    border-color: #9e9e9e;
    border-width: 0.5px;
    top: 40px;
    right: 85px;
    z-index: 9999;
    box-shadow: 0px 1px 1px rgba(70, 70, 70, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
}
.popup-rectangle-container {
    text-align: center; /* This centers the text inside the title container */
    width: 100%;
}
.info-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 5px;
    color: #3d3d3d;
    font-family: 'DM Sans';
}
.info-caption {
    align-self: flex-start;
    font-family: 'DM Sans';
    color: #3d3d3d;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 25px;
}
.info-caption2 {
    align-self: flex-start;
    font-family: 'DM Sans';
    color: #3d3d3d;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 25px;
}
.demo-image {
    border: 1px solid #EDEDED;
    border-radius: 10px;
    max-width: 450px;
    max-height: 300px;
}
.demo-image3 {
    border: 1px solid #EDEDED;
    border-radius: 10px;
    max-width: 450px;
    max-height: 300px;
    margin-bottom: 20px;
}
.close-popup {
    position: absolute;
    margin-top: 5px;
    margin-right: 3px;
    align-self: flex-end;
}