h1 {
    font-family: 'DM Sans';
    margin: 0;
}
.big-rounded-rectangle {
    position: absolute;
    width: 1100px;
    height: 1300px;
    left: 299px;
    top: 40px;
    background: #F7F7F7;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
.character-main-info {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}
.character-name-big {
    margin-left: 50px;
    font-weight: 600;
    font-size: 60px;
}
.character-name-small {
    margin-left: 20px;
    max-width: 320px;
    font-weight: 600;
    font-size: 40px;
}
.input-name-small {
    font-family: 'DM Sans';
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Add vertical scroll if needed */
    margin-left: 20px;
    margin-top: 10px;
    max-width: 320px;
    max-height: 45px;
    font-weight: 600;
    font-size: 40px;
}
.character-image-big {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.character-heading-text {
    font-family: 'DM Sans';
    display: block;
}
.caption {
    font-family: 'DM Sans';
    margin-left: 50px;
    font-weight: 400;   
    font-size: 30px;
}
.caption-small {
    font-family: 'DM Sans';
    margin-left: 20px;
    font-weight: 400;   
    font-size: 20px;
}
.input-caption-small {
    font-family: 'DM Sans';
    overflow-x: hidden; 
    overflow-y: auto; 
    max-width: 200px;
    max-height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;   
    font-size: 20px;
}
.character-description-section {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
}
.character-description {
    width: 1000px;
    max-height: 300px;
    overflow-y: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}
.character-description-small {
    width: 500px;
    height: 500px;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.0;
    color: #000000;
}
.character-description-section-small {
    margin-top: 250px;
    margin-left: 25px;
}
.divider {
    margin-left: 50px;
    margin-top: 40px;
    width: 1000px;
    border: 1px solid #C4C4C4;
}
.divider-small {
    margin-left: 20px;
    margin-top: 30px;
    width: 510px;
    border: 1px solid #C4C4C4;
}
.close {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px; 
    font-weight: 300px;
    color: #000000;
}
.delete-current-character {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
    margin-right: 45px;
}
.edit-button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 990px;
    margin-top: 10px;
}
.edit-button-small {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 410px;
}
#connections-title {
    font-family: 'DM Sans';
    margin-left: 50px;
    font-weight: 600;   
    font-size: 20px;
}
.small-close {
    position: absolute;
    margin-left: 520px;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    border: none;
    font-weight: 300px;
    font-size: 20px; 
    cursor: pointer;
}
.small-character-main-info {
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}


  