.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 9999; /* Ensure it appears on top of other elements */
}

.context-menu .drop-down-option {
  cursor: pointer;
  padding: 5px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.context-menu .drop-down-option:hover {
  background-color: #f0f0f0;
}
